In [73]:
!pip install gensim

Requirement already satisfied: gensim in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (4.3.3)
Requirement already satisfied: numpy<2.0,>=1.18.5 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from gensim) (1.26.4)
Requirement already satisfied: scipy<1.14.0,>=1.7.0 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from gensim) (1.13.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from gensim) (7.3.1)
Requirement already satisfied: wrapt in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from smart-open>=1.8.1->gensim) (1.17.3)

In [74]:
import gensim
from gensim.models import Word2Vec, KeyedVectors

In [75]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

PREPROCESSING AND CLEANING
TRAIN TEST SPLIT
BOW,TFIDF,WORD2VEC
TRAIN ML ALGORITHMS

In [76]:
import pandas as pd
df = pd.read_csv('all_kindle_review.csv')
df.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [77]:
df[['reviewText','rating']]

                                              reviewText  rating
0      Jace Rankin may be short, but he's nothing to ...       3
1      Great short read.  I didn't want to put it dow...       5
2      I'll start by saying this is the first of four...       3
3      Aggie is Angela Lansbury who carries pocketboo...       3
4      I did not expect this type of book to be in li...       4
...                                                  ...     ...
11995  Valentine cupid is a vampire- Jena and Ian ano...       4
11996  I have read all seven books in this series. Ap...       5
11997  This book really just wasn't my cuppa.  The si...       3
11998  tried to use it to charge my kindle, it didn't...       1
11999  Taking Instruction is a look into the often hi...       3

[12000 rows x 2 columns]

In [78]:
df.shape

(12000, 11)

In [79]:
#Missing values
df.isnull().sum()

Unnamed: 0.1       0
Unnamed: 0         0
asin               0
helpful            0
rating             0
reviewText         0
reviewTime         0
reviewerID         0
reviewerName      38
summary            2
unixReviewTime     0
dtype: int64

In [80]:
df['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [81]:
df['rating'].value_counts()

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [82]:
##Preprocessing and cleaning

In [83]:
## positive review is 1 and negative review is 0
df['rating']=df['rating'].apply(lambda x:0 if x<3 else 1)

In [84]:
df['rating'].unique()

array([1, 0], dtype=int64)

In [85]:
df['rating'].value_counts()

rating
1    8000
0    4000
Name: count, dtype: int64

In [86]:
df['reviewText']=df['reviewText'].str.lower()

In [87]:
df.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",1,"jace rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",1,great short read. i didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",1,i'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",1,aggie is angela lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",1,i did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [88]:
#Removing special character

In [89]:
!pip install bs4

Requirement already satisfied: bs4 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from bs4) (4.14.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from beautifulsoup4->bs4) (2.8)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from beautifulsoup4->bs4) (4.15.0)

In [90]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (3.9.2)
Requirement already satisfied: click in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from nltk) (8.3.0)
Requirement already satisfied: joblib in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from nltk) (2025.9.18)
Requirement already satisfied: tqdm in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\inet\miniconda3\envs\nlp_env\lib\site-packages (from click->nltk) (0.4.6)

In [91]:
import re
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\inet/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [92]:
from bs4 import BeautifulSoup

In [93]:
## Removing special characters
df['reviewText']=df['reviewText'].apply(lambda x:re.sub('[^a-z A-z 0-9-]+', '',x))

In [94]:
## Remove url 
df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))

In [96]:
!pip install lxml

Collecting lxml
  Downloading lxml-6.0.2-cp310-cp310-win_amd64.whl.metadata (3.7 kB)
Downloading lxml-6.0.2-cp310-cp310-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   -- ------------------------------------- 0.3/4.0 MB ? eta -:--:--
   ------------------ --------------------- 1.8/4.0 MB 5.3 MB/s eta 0:00:01
   ------------------------------- -------- 3.1/4.0 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  3.9/4.0 MB 5.2 MB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 4.9 MB/s  0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.2

In [99]:
## Remove url 
df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '' , str(x)))

In [101]:
## Remove any additional spaces
df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))

In [103]:
## Remove html tags
df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, 'html.parser').get_text())

In [104]:
df.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",1,jace rankin may be short but hes nothing to me...,"09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",1,great short read i didnt want to put it down s...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",1,ill start by saying this is the first of four ...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",1,aggie is angela lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",1,i did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [107]:
## Lemmatizer
from nltk.stem import WordNetLemmatizer

In [108]:
lemmatizer = WordNetLemmatizer()

In [109]:
def lemmatize_words(text):
    return " ".join([lemmatizer.lemmatize(word) for word in text.split()])

In [111]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to C:\Users\inet/nltk_data...

True

In [112]:
df['reviewText']=df['reviewText'].apply(lambda x:lemmatize_words(x))

In [113]:
df.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",1,jace rankin may be short but he nothing to mes...,"09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",1,great short read i didnt want to put it down s...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",1,ill start by saying this is the first of four ...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",1,aggie is angela lansbury who carry pocketbook ...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",1,i did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [122]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(df['reviewText'],df['rating'],test_size=0.20)

In [123]:
from sklearn.feature_extraction.text import CountVectorizer
bow=CountVectorizer()
X_train_bow=bow.fit_transform(X_train).toarray()
X_test_bow=bow.transform(X_test).toarray()

In [124]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
X_train_tfidf=tfidf.fit_transform(X_train).toarray()
X_test_tfidf=tfidf.transform(X_test).toarray()

In [125]:
X_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [126]:
from sklearn.naive_bayes import GaussianNB
nb_model_bow=GaussianNB().fit(X_train_bow,y_train)
nb_model_tfidf=GaussianNB().fit(X_train_tfidf,y_train)

In [127]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [128]:
y_pred_bow=nb_model_bow.predict(X_test_bow)

In [129]:
y_pred_tfidf=nb_model_bow.predict(X_test_tfidf)

In [130]:
confusion_matrix(y_test,y_pred_bow)

array([[435, 331],
       [969, 665]], dtype=int64)

In [131]:
print("BOW accuracy: ",accuracy_score(y_test,y_pred_bow))

BOW accuracy:  0.4583333333333333

In [132]:
confusion_matrix(y_test,y_pred_tfidf)

array([[435, 331],
       [965, 669]], dtype=int64)

In [133]:
print("TFIDF accuracy: ",accuracy_score(y_test,y_pred_tfidf))

TFIDF accuracy:  0.46